BROKER=GROWW
GROWW_API_KEY=your_groww_api_key
GROWW_API_SECRET=your_groww_api_secret
GROWW_BASE_URL=https://api.groww.in/trade/v1
GROWW_TOKEN_ENDPOINT=https://api.groww.in/trade/v1/auth/token
GROWW_ACCESS_TOKEN=
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
KITE_API_KEY=your_kite_api_key
KITE_API_SECRET=your_kite_api_secret
